<section class="login" ng-hide="usuario">
	<h3>Digite seu nome:</h3>
	<form>
		<input type="text" ng-model="userLogin">
		<button type="submit" ng-click="login()">Entrar</button>
	</form>
	<p ng-show="loginError">{{loginError}}</p>
</section>
<section class="chat" ng-show="usuario">
	<aside>
		<h3>Usuarios:</h3>
		<ul>
			<li ng-repeat="user in list">
				<a ng-click="selContato(user)" ng-class="{'ativo': contatoAtivo === user}">{{ user }}
				<span class="badge" ng-show="conversas[user].unread">{{conversas[user].unread}}</span>
				</a>
			</li>
		</ul>
	</aside>
	<content>
		<div id="msg" class="msg" scroll-glue>
			<p ng-repeat="msg in conversas[contatoAtivo].msgs" class="{{msg.quem}}">{{msg.quem === 'self' ? 'Você' :contatoAtivo}} disse: {{msg.text}}</p>
		</div>
		<textarea ng-keypress="msgOnKey($event)"  ng-disabled="!contatoAtivo" ng-model="chatMsg"></textarea>
		<button  ng-disabled="!contatoAtivo || !chatMsg" ng-click="enviaMsg()">Enviar</button>
		<button ng-click="call(contatoAtivo)" ng-disabled="!contatoAtivo" ng-hide="isInCall || peer">Ligar</button>
		<button ng-click="desligar()" ng-show="isInCall || peer">Desligar</button>
		<button ng-click="atender()" ng-show="peer && !isCaller">Atender</button>
	</content>
</section>
