<h3>Mendes e Monteiro Tecnologia</h3>

<p>Com foco em Tecnologia da Informação, a <strong>Mendes e Monteiro Tecnologia</strong> é uma empresa que surgiu com a grande demanda de serviços de TI. Contamos com profissionais de alta qualidade e utilizamos processos bem definidos baseados nas mais recentes tecnologias e metodologias, a fim de que estas contribuam para melhorias efetivas da performance global dos nossos clientes.</p>

<p>Fundada por profissionais com larga experiência no mercado de desenvolvimento de software de médio e grande porte, serviços de treinamento e consultoria de negócio para diversas empresas, a <strong>Mendes e Monteiro Tecnologia</strong> está inserida como referência para serviços de tecnologia de informação, no mercado nacional.</p>

<h3>Missão</h3>

<p>Agregar valor para nossos clientes e parceiros através de produtos e serviços elaborados de acordo com suas necessidades, assegurando o aproveitamento total dos recursos e benefícios da Tecnologia da Informação nos seus negócios.</p>

<h3>Visão</h3>

<p>Tornar-se referência nacional no desenvolvimento, fornecimento e otimização de soluções em tecnologia da informação, assegurando excelência aos nossos produtos e serviços.</p>