<h3>Mendes e Monteiro Tecnologia</h3>

<p>Com foco em Tecnologia da Informação, a <strong>Mendes e Monteiro Tecnologia</strong> é uma empresa que surgiu com a grande demanda de serviços de TI. Contamos com profissionais de alta qualidade e utilizamos processos bem definidos baseados nas mais recentes tecnologias e metodologias, a fim de que estas contribuam para melhorias efetivas da performance global dos nossos clientes.</p>

<p>Fundada por profissionais com larga experiência no mercado de desenvolvimento de software de médio e grande porte, serviços de treinamento e consultoria de negócio para diversas empresas, a <strong>Mendes e Monteiro Tecnologia</strong> está inserida como referência para serviços de tecnologia de informação, no mercado nacional.</p>

Em 2011 a TWM Tecnologia uniu-se com à Lit Logistics, para atender à grande demanda por soluções logísticas de qualidade no Brasil. Sendo a Lit Logistics uma consultoria focada em Logística e Gestão de Cadeia de Suprimentos com uma experiência de mais de 30 anos, adquirida no Brasil e no exterior, nas áreas de produção, logística e supply-chain, a TWM Tecnologia entrou definitivamente no mercado de logística como fornecedora de produtos e serviços especializados.

Já em 2012, a TWM Tecnologia e a Lit Logistics em uma oportunidade única, associaram-se à IS.Retail, empresa portuguesa responsável pela criação de um dos sistemas de gestão de armazéns líderes no mercado Europeu. Desta esta associação nasce a TWM Tecnologia em Logística, um braço da TWM Tecnologia responsável pela criação de um processo inovador na área logística, aliando tecnologia, experiência e know-how.

Missão

Agregar valor para nossos clientes e parceiros através de produtos e serviços elaborados de acordo com suas necessidades, assegurando o aproveitamento total dos recursos e benefícios da tecnologia da informação nos seus negócios.

Visão

Tornar-se referência nacional no desenvolvimento, fornecimento e otimização de soluções em tecnologia da informação, assegurando excelência aos nossos produtos e serviços.