<h3>A nova Web</h3>

<p>Para o desenvolvimento de uma aplicação web rica e com recursos antes somente vistos em plataformas desktop, alguns conceitos foram evoluídos e novas ferramentas foram criadas para possibilitar uma nova gama de recursos à disposição do desenvolvedor web.
Considerando que este leque de opções se mostra abundante, abordaremos apenas algumas destas tecnologias que serão de maior relevância ao longo do estudo, análise e implementação da especificação WebRTC em uma aplicação web.</p>

<blockquote>
	<p><em>“WebRTC é a habilidade de se comunicar ao vivo com alguém, ou algo, como se você estivesse logo ao lado. WebRTC preenche uma lacuna importante na plataforma Web, pois você pode se comunicar em tempo real apenas carregando uma página da Web”, afirma Justin Uberti, líder de tecnologia da WebRTC, Google.</em></p>
	<p>“WebRTC é uma nova investida na guerra duradoura por uma Web aberta e livre”, disse Brendan Eich, CTO da Mozilla.</p>
</blockquote>

<h3>HTML5</h3>

<p>O HTML é uma linguagem de marcação utilizada para a produção de páginas Web. Com o objetivo de organizar as informações e ser entendida universalmente por diversos meios de acesso, o HTML utiliza um sistema de anotação, através de tags, que permite a publicação de conteúdos (texto, imagem, vídeo, áudio) em páginas da internet.</p>

<p>Com o intuito de trazer mais flexibilidade a produção de sistemas Web, tornando nativo recursos extras atendidos até o momento por plugins externos, o projeto HTML5 foi conhecido em 2006, contando nesse momento com a participação da W3C no desenvolvimento da nova linguagem. Seu grande destaque é o fornecimento de ferramentas para que CSS e JavaScript executem de melhor maneira suas funções, permitindo através de suas APIs a manipulação de elementos da página, mantendo a leveza e garantindo funcionalidade, sem a necessidade de grandes blocos de código.</p>

<h3>JavaScript</h3>

<p>Visando adicionar interatividade a uma página web, a linguagem JavaScript foi criada pela Netscape em parceria com a Sun Microsystems, sendo lançada em sua primeira versão em 1995. Com JavaScript podemos controlar o comportamento do navegador em vários aspectos, abrindo e fechando janelas, exibindo mensagens, manipulando elementos da página, dentre outros.</p>

<p>Cada vez mais atual a linguagem JavaScript vem ganhando ainda mais espaço com o uso de frameworks de desenvolvimento que criam uma camada de abstração entre o navegador e a aplicação, fazendo com que sua implementação seja mais simples e poderosa.</p>

<h3>Angular.js</h3>

<p>Angularjs é um framework JavaScript mantido pelo Google, possui um conjunto de ferramentas que visa basicamente estender os recursos da linguagem HTML, criando um quadro mais completo para o desenvolvimento de aplicativos. Com a capacidade de abstrair a manipulação o DOM, AngularJS usa uma combinação de tags HTML especiais e expressões que garantem fácil integração e recursos inovadores.</p>

<h3>Node.js</h3>

<p>Apresentado na JSConf 2009 Européia, por um jovem programador chamado Ryan Dahl, a plataforma Node.js combina a máquina virtual JavaScript V8 do Google com um laço de eventos. Tem como objetivo principal o desenvolvimento de aplicações rápidas e escaláveis, utilizando de maneira mais eficiente os recursos da máquina, onde diferentemente das aplicações mais conceituadas de servidores, como Apache ou Tomcat, não cria um processo para cada conexão, o que é um gargalo recorrente em aplicações web. Rodando no servidor, o Node.js responde a cada requisição dentro de seu processo pai, garantindo milhares de conexões simultâneas.</p>

<p>Com o poder do JavaScript, tarefas árduas de desenvolvimento de soluções assíncronas, tornaram-se mais simples, e aplicações robustas antes executadas apenas no cliente, podem ser implementadas no servidor.</p>

<h3>WebSockets</h3>

<p>O Websocket é um protocolo que provê um canal de comunicação de duas vias entre dois pontos, este mecanismo é usado para aplicações web que necessitam de comunicação bidirecional sem ter que depender da abertura de múltiplas conexões HTTP. Tecnicamente o WebSocket é uma camada sobre o TCP, adicionando um esquema de segurança, controlando nomes e endereços baseados na origem, suportando diversos serviços em uma mesma porta e múltiplos nomes de host em um mesmo endereço.</p>

<p>Aplicações que envolvem comunicação são as mais beneficiadas pela tecnologia, já que após o canal estabelecido a atualização da página não se faz necessária, oferecendo maior interatividade com uso mais eficiente dos recursos, mantendo o usuário atualizado de maneira mais dinâmica.</p>

