/* ---------------------------------------------------
Parametros Gerais
----------------------------------------------------- */
	body{
		background: #f1f1f1;
		color: #191919; 
		font-family: "Open Sans", Helvetica, sans-serif, arial; 
		font-size: 18px;
		font-weight: 300;
		line-height: 1.2222222222em;
		text-align: left; 
	}
	h1{
		color: #E62E00;
		font-size: 3.3333333333em;
		font-weight: 600;
		letter-spacing: -0.05em;
		line-height: 1em;
		margin: 20px 0 15px 0;
	}

	h2{
		font-size: 1.7777777778em;
		font-weight: 300;
		letter-spacing: -0.0625em;
		line-height: 1.1875em;
	}

	h3{
		color: #990000;
		font-size: 1.5em;
		font-weight: 200;
		letter-spacing: -0.07em;
	}

	p, ol{
		font-weight: 300;
		letter-spacing: -0.05555555556em;
	}

	a, a:link, a:visited{
		color:#FE9380; 
		font-weight:400; 
		text-decoration:none;
	}
	a:hover{
		color: #E62E00;
		text-decoration: underline;
	}


/* ---------------------------------------------------
header- cabecalho da pagina
----------------------------------------------------- */
	header{
		border-bottom: 1px solid #E0E0E0; 
		height: 110px;
		width: 100%;
	}
	/* nav - menu de navegação */
	nav{
		float: right;
		margin-top: 50px; 
		text-align: right; 
		width: 100%;
	}
	nav ul{
		list-style-type: none; 
	}
	nav li {
		display: inline; 
	}
	nav ul li a{
		margin-right: 2.5%;
	}
	nav a:link, nav a:visited{
		color:#999;
		font-size: 1.2222222222em; 
		font-weight: 300;
		letter-spacing: -0.0909090909em;
		line-height: 1.18181818182em;
		display:inline-block;
	}
	nav a.ativo:link, nav a:hover{
		color:#FE9380; 
	}

/* ---------------------------------------------------
Chat
----------------------------------------------------- */
	.chat {
		position: relative;
		width: 100%;
		height: 25em;
	}

	.chat aside {
		position: absolute;
		left: 0px;
		background-color: #fff;
		padding: 0;
		height: 100%;
		width: 20%;
	}
	.chat aside ul {
		list-style-type: none;
		padding: 0;
		margin: 0;	
	}

	.chat aside ul li:last-child {
		border-bottom: 0px;
	}

	.chat aside ul li {
		border-bottom: #191919 1px solid;
	}

	.chat aside a {
		display: block;
		padding: 3px 0;		
		text-decoration: none;
		color: #000;	
	}

	.chat aside a:hover, .chat aside a.ativo {
		background-color: #999;
	}

	.chat content {
		position: absolute;
		right: 0px;
		height: 100%;
		width: 75%;
	}
	
	.chat .msg {
		display: inline-block;
		width: 100%;
		height: 80%;
		overflow-y: auto;		 
		vertical-align: text-bottom;
	}

	.chat .msg p {
		font-family: 'Verdana';
		margin: 8px 15px;
		vertical-align: bottom;
		word-wrap: break-word;
	}

	.chat .msg p.self {
		text-align: right;
		color: #868686;
	}

	.chat .msg p.remote {
		text-align: left;
		color: #000;
	}
	
	
	.chat textarea {
		height: 10%;
		width: 100%;
		position: absolute;
		bottom: 0px;
	}
	.badge {
	  display: inline-block;
	  min-width: 10px;
	  padding: 3px 7px;
	  font-size: 12px;
	  font-weight: bold;
	  line-height: 1;
	  color: #fff;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: baseline;
	  background-color: #777;
	  border-radius: 10px;
	  float:right !important;
	}

/* ---------------------------------------------------
Chamada
----------------------------------------------------- */
	.chamada{
		height: 150px;
		text-align:center;
		width:100%;
	}
	h1{
		white-space: nowrap;
	}
	h1 span{
		font-size: 1em;
		font-weight: 300;
		letter-spacing: -0.0333333333em;
		line-height: 1em;
	}
	.chamada h2 {
		color: #868686;
		margin: 0 auto;
		width: 75%;
	}

/* ---------------------------------------------------
Container
----------------------------------------------------- */
	.container{
		background-color: #F8C0B2;
		padding: 2.5%;
		width: 95%;
		border: 1px solid #E0E0E0; 
	}
	.container h2{
		color:#fff;
		font-size: 1.77777777778em;
		font-weight: 300;
		letter-spacing: -0.0625em;
		margin-bottom: 30px;
		text-shadow: none;
	}
	.container p, ol{
		text-align:justify;
	}
	.container a{
		color: #990000;
	}
	.container .tec img{
		float: right;
		width: 50%;
		max-width: 400px;
		margin-left: 10px;
	}
	.container .tec img.esq{
		float: left;
		margin-right: 10px;
	}


/* ---------------------------------------------------
Footer
----------------------------------------------------- */
	footer{
		clear:both;
		height: 50px;
		padding: 10px 0;
		width:100%;
	}
	.copyright{
		float:left;
		margin-left: 2.5%;
	}

/* ---------------------------------------------------
Media Queries
----------------------------------------------------- */
/*  1200px */
@media screen and (max-width: 1200px){
	h1{
		font-size: 2.6666666667em;
		margin: 20px 0 15px 0;
	}
/* chamada */
	.chamada {
		height: 130px;
	}
	.chamada h2 {
		font-size: 1.66666666667em;
	}
/* container */
	.container h2{
		font-size: 1.55555555556em;
	}
}

/* 960px */
@media screen and (max-width:960px){
	h1{
		font-size:2.6666666667em;
		margin: 20px 0 15px 0;
	}
/*.chamada*/
	.chamada {
		height: 130px;
	}
	.chamada h2{
		font-size:1.5em;
		width:88.54166666666667%;
	}
/* container */
	.container{
		padding: 3.125%;
		width: 93.75%;
	}
	.container h2{
		font-size: 1.6666666667em;
	}
	.container p, ol{
		font-size: 0.8333333333em;
	}
}

/* 768px */
@media screen and (max-width: 768px){
/* ajustes gerais */
	h1, a, a:link, a:visited{
		color:#FBCA61; 
	}	
	h3{
		color: #CC7A00;
		font-size: 1.25em;
	}
/* header */	
	header {
		height: 55px;
		text-align:center;
	}
	nav{
		float:none;
		text-align:center;
		width: 100%;
	}
	nav a:link, nav a:visited{
		font-size: 1em; 
	}
	nav a.ativo:link, nav a:hover{
		color:#FBCA61; 
	}
	nav a:hover{
		color:#F9AD0F;
	}
/* chamada */
	.chamada{
		height: 120px;
	}
	.chamada h1 {
		font-size: 2.2222222222em;
	}
	.chamada h2{
		font-size:1.1111111111em; 
	}
/* container */
	.container{
		background-color: #FCDA92;
		padding: 3.90625%;
		width: 92.1875%;
	}
	.container h2{
		font-size: 1.6666666667em;
	}
	.container p, ol{
		font-size: 0.7777777778em;
		line-height: 1.1428571428em;
	}
	.container a{
		color: #CC7A00;
	}
}

/* 480px  */
@media screen and (max-width:480px){
/* ajustes gerais */
	*{
		margin:0;
		padding:0;
	}
	h1 {
		color: #246B47; 
	}
	h3{
		color: #195043;
		font-size: 1.1em;
	}
/* header */	
	header {
		border-bottom: none;
		height:auto;
		text-align:center;
	}
	nav{
		clear:both;
	}
	nav li {
		background-color: #70B894;
		border-bottom: solid 1px #FAFAFA;
		display:block;
	}
	nav ul li a{
		height: 40px;
		margin: 0 auto;
		padding-top:3px;
		text-align:center;
		text-shadow:none;
		width: 100%;
	}
	nav li a:link{
		color:#fff;
		font-size:1.3888888889em;
	}
	nav li a.ativo:link, nav li a:hover, nav li a:visited {
		background-color: #0B2015;
		color:#fff;
		text-decoration:none;
	}
	nav li a.ativo:hover, nav li a.ativo:visited{
		background-color: #0B2015;
	}
/* chamada */
	.chamada{
		height:80px;
		margin-top:25px;
	}
	.chamada h1 {
		font-size: 1.4444444444em;
		letter-spacing: -0.0769230769230769em;
		margin-bottom: 15px;
	}
	.chamada h2{
		font-size: 0.7777777778em;
	}
/* container */
	.container{	
		background-color: #70B894;
		margin:0;
		padding: 5px 0 5px 0 ;
		width:100%;
	}
	.container p, ol{
		font-size: 0.7777777778em;
		line-height: 1.1428571428em;
		padding: 3%;
	}
	.container ol{
		margin-left: 20px;
	}
	.container a{
		color: #195043;
	}
/* footer */
	.copyright{
		float:none;
		margin: 0;
		padding: 0;
		text-align:center;
	}
}